body { 
  background-color: #FF777B !important;
}

.footer {
  background-color: #E66064 !important;
}

.img-responsive {
  display: inline !important;
}

.logo {
  padding: 90px 0 0px 0;
}

.coming {
  padding: 50px 0 70px 0;
}

.footer {
  padding: 50px 0 50px 0;
  font-size: 13px;
}

.footer .list-inline li a { 
  color: white;
  opacity: 0.7 !important;
}

.footer .list-inline span {
  color: white;
  opacity: 0.7 !important;
}

.list-inline a:hover {
  opacity: 1 !important;
  color: white;
  text-decoration: underline;
}